<ion-header>
    <ion-navbar>
      <ion-title>Ajouter un nom</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  
  <form (ngSubmit)="condemn(creation.firstName, creation.lastName, creation.age)">

    <ion-item>
      <ion-label>Prénom:</ion-label>
      <ion-input matInput type="text" color="primary" floating [(ngModel)]="firstName" (ngModelChange)="changeFirstName(firstName)" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    {{getf()}}
    <p color="red" *ngIf="isEmpty(getf())">
      Le prénom est <strong>nécéssaire</strong>!
    </p>
    <p color="red" *ngIf="isRobot(getf())">
      À part si c'est un robot, je ne crois pas que son nom contient un nombre.
    </p>
    <br />

    <ion-item>
      <ion-label>Nom de famille:</ion-label>
      <ion-input matInput type="text" color="primary" floating [(ngModel)]="lastName" (ngModelChange)="changeLastName(lastName)" [ngModelOptions]="{standalone: true}"></ion-input>

    </ion-item>
    {{getl()}}
    <p color="red" *ngIf="isEmpty(getl())">
      Le nom de famille est <strong>nécéssaire</strong>!
    </p>
    <p color="red" *ngIf="isRobot(getl())">
      À part si c'est un robot, je ne crois pas que son nom contient un nombre.
    </p>
    <br />
    <ion-item>
      <ion-label>Age:</ion-label>
      <ion-input matInput type="number" color="primary" floating [(ngModel)]="age" (ngModelChange)="changeAge(age)" [ngModelOptions]="{standalone: true}"></ion-input>

    </ion-item>
    {{geta()}}
    <p color="red" *ngIf="incorrectAge(geta())">
      Prenez mes questions au sérieux svp...
    </p>

  
    <button ion-button type="submit" block>Add to the list! >:D</button>
    <!--
  <input mat-button  color="primary" style="color:mediumorchid" value="Add him! >:D" type:"submit" />
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>-->

  </form> 
</ion-content>
