<ion-header>
    <ion-navbar color="dark">
      <ion-title>Ajouter un nom</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  
  <form (ngSubmit)="condemn(firstName,lastName,age)">

    <ion-item>
      <ion-label>Prénom:</ion-label>
      <ion-input matInput type="text" color="primary" floating [(ngModel)]="firstName" (ngModelChange)="changeFirstName(firstName)" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

   
    <mat-error style="color:red" *ngIf="isEmpty2(firstName)">
      Le prénom est <strong>nécéssaire</strong>!
    </mat-error>
    <mat-error style="color:red" *ngIf="isRobot(firstName)">
      À part si c'est un robot, je ne crois pas que son nom contient un nombre.
    </mat-error>
    <br />

    <ion-item>
      <ion-label>Nom de famille:</ion-label>
      <ion-input matInput type="text" color="primary" floating [(ngModel)]="lastName" (ngModelChange)="changeLastName(lastName)" [ngModelOptions]="{standalone: true}"></ion-input>

    </ion-item>
   
    <mat-error style="color:red" *ngIf="isEmpty2(lastName)">
      Le nom de famille est <strong>nécéssaire</strong>!
    </mat-error>
    <mat-error style="color:red" *ngIf="isRobot(lastName)">
      À part si c'est un robot, je ne crois pas que son nom contient un nombre.
    </mat-error>
    <br />
    <ion-item>
      <ion-label>Age:</ion-label>
      <ion-input matInput type="text" color="primary" floating [(ngModel)]="age" (ngModelChange)="changeAge(age)" [ngModelOptions]="{standalone: true}"></ion-input>

    </ion-item>
 
    <mat-error style="color:red" *ngIf="incorrectAge(age)">
      Je ne vous crois pas...
    </mat-error>

    <mat-error style="color:red" *ngIf="notSerious(age)">
      Prenez mes questions au sérieux svp...
    </mat-error>
    <br />
    <br />

    <button mat-button style="left:10%;background-color:black; color:white;font-size:150%" type="submit"><strong>Ajouter à la liste noire! >:D</strong></button>
    <!--
  <input mat-button  color="primary" style="color:mediumorchid" value="Add him! >:D" type:"submit" />
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>-->

  </form> 
</ion-content>
